extends layout

block content
 form(name="konsoleform", action="", method="", onsubmit="return false;")
      pre
            code(name="screen", id="screen", style="width:100%;height: 250px;", readonly="")
      input(type="text", id="cmd", name="cmd", style="width:100%;height: 30px;")
      br
      br
      input(type="button",class="btn btn-primary btn-block", id="fire", name="fire", value="Fire")
      input(type="button",class="btn btn-primary btn-danger btn-block", id="clear", name="clear", value="Clear")
      br
      br
      blockquote You can press <kbd>Enter</kbd> key to fire command.
      blockquote You can clear console using <kbd>clear</kbd>  or <kbd>cls</kbd> command.
